.button {
  background: var(--red-500);
  border-radius: 0.25rem;
  padding: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;

  text-transform: uppercase;
  font-weight: bold;

}